@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f8fb;
}

.left_login_wrapper {
  background-image: url("./assets/images/login-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px; /* Adjust width */
}

::-webkit-scrollbar-track {
  background: #f7f8fb; /* Track background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #465ff1; /* Thumb color */
  border-radius: 10px;
}

/* Darker on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */

.cancel_btn {
  background-color: #77ed77;
}

.delete_btn {
  background-color: #fa2b2b;
}

.green {
  color: #77ed77;
}

.danger {
  color: #fa2b2b;
}

.primary {
  color: #465ff1;
}

input,
textarea,
select {
  font-size: 16px;
}
